<#assign className = table.className>
<#assign classNameLower = className?uncap_first>

<form method="post" id="godownForma" name="godownForma" action="${'$'}{rc.contextPath}/${controlPath}/save${className}">
	<div class="main">
		<div class="wrap">
			<div class="con">
				<div class="con_title">
					<h3 class="left fs14 marglr3020">编辑${className}</h3>
					<span class="grey"></span>
				</div>
				<div class="main_con">
					<div class="con_article_title02 paddtb20">
						<input type="hidden" value="${'$'}!{pageInfo.id}" id="id" name="id">
						
							<#list table.columns as column>
              <#if column.columnNameFirstLower!="id">
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">${column.remarks}：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="${'$'}!{pageInfo.${column.columnNameFirstLower}}" id="${column.columnNameFirstLower}" name="${column.columnNameFirstLower}">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="${classNameLower}"></span>
								</div>
							</div>
              </#if>
              </#list>
						<div class="blank20"></div>
					</div>
					<div class="con_core_info_div03 paddingl80">
						<div class="attr_con">
							<a class="chan_btn right wid93 margr40 margt10" href="${'$'}{rc.contextPath}/${controlPath}/${classNameLower}Index">返回</a> 
							<a class="chan_btn right wid93 margr40 margt10" onclick="submit()">保存</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>